body {
  background-color: #f7f7f7;
}
#title {
  color: #455768;
  cursor: default;
  font-family: verdana;
  font-size: 400%;
  text-align: center;
}
#summary {
  color: #373737;
  cursor: default;
  font-family: cambria;
  font-size: 100%;
  text-align: center;
}

div.search-form {
  margin: auto;
  width: 20%;
}

#search {
  margin: auto;
  width: 50%;
}

#submit {
  font-family: cambria;
  width: 98%;
}

#artist-input {
  font-family: cambria;
  color: #373737;
}

hr.solid {
  width: auto;
  height: 30px;
  border: #373737;
}

#lower-section {
  display: block;
  background-color: #455768;
  border-style: solid;
  border-width: medium;
  border-radius: 20px;
  border-color: #bbb;
  color: #f7f7f7;
  margin: auto;
  width: auto;
  padding: 10px;
}

li.artist-entry {
  cursor: pointer;
}

li.album-entry {
  cursor: default;
}
